# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS-specific
.Python

# Editors
*.swp
*.swo

# User-specific configuration
tickers.json
settings.json

# AI stuff
Prompts
